@charset "UTF-8";

@media screen and (min-width:930px) {
    article#login > div#img{
        display: grid;
    background-image:  url(../imagens/Wallpaper\ 4K\ Gif\ Trick.gif);
    background-size: cover;
    height: 175px;
    box-shadow: 1px 1px  1px solid black
    }
}